# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool
*.out

# GoLand specific files
.idea/
*.iml

# OS specific files
.DS_Store
Thumbs.db

# Go modules
vendor/

# Go build artifacts
bin/
.env